// Body
$body-bg: #f8fafc;
$primary: #06ac00;
$secondary: #3d3935;
$text-color: #3d3935;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.875rem;
$line-height-base: 1.6;

//Table
$table-bg: #f8f9fa
